
<div class="row">
  <div class="col-sm-4">
  <h1>Create Categories</h1>

     <form action="/admin/categories/create" method="post">
       <div class="form-group">

        <label for="name">
            Name
        </label>
          <input type="text" name="name" id="" placeholder="Enter name">
          <button class="btn btn-primary" ="submit">Create Category</button>
       </div>
     </form>
  </div>
    </div>
<hr>
  <br>
  <div class="row">
     <div class="col-sm-8">
        <table class = "table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
          {{#each categories}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{name}}</td>
                    <td><a href="/admin/categories/edit/{{_id}}" class="btn btn-info">Edit</a></td>
                    <td><form action="/admin/categories/{{_id}}?_method=DELETE" method="post">
                   <button type="submit" class="btn btn-danger">Delete</button>
                 </form></td>
                 </tr>
           {{/each}}

            </tbody>
        </table>
     </div>

</div>