<h1>Create Posts</h1>
<form action="/admin/posts/create" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Title</label>
    <input
      name="title"
      type="text"
      class="form-control"
      id="title"
      placeholder="Enter title"
    />
  </div>

  <div class="form-group">
    <label for="file">Upload</label>
    <input
      name="file"
      type="file"
      class="form-control"
      id="title"
      placeholder="Enter title"
    />
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <select name="status" id="status" class="form-control">
      <option value="public">Public</option>
      <option value="private">Private</option>
      <option value="draft">Draft</option>
    </select>
  </div>

  <div class="form-check">
    <label for="allowComments" class="form-check-label">
      <input
        name="allowComments"
        type="checkbox"
        class="form-check-input"
        id="allowComments"
      />
      Allow Comments</label>
  </div>

  <div class="form-group">
    <label for="body">Description</label>
    <textarea
      name="body"
      type="text"
      cols="13"
      rows="10"
      class="form-control"
      id="body"
      placeholder="Enter Description"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>